<section id="projects" class="page no-aside">
    <header id="page-header" style="background-image:url('{{model.pictureBackground}}')">

    </header>

    <section id='page-content'>

    </section>
</section>
