<section id="me-projects" class="page">
    <header id="page-header" class="small" style="background-image:url('{{model.pictureBackground}}')">

    </header>

    <section id='page-content'>
        <header><h3>3 projecten waar u aan deelneemt</h3></header>
        <section class="my-project">

            <section class="content">
                <h4>De groene tuin</h4>
                <p class="name">Arnout Boomstra</p>
                <div class="meter-canvas">
                    <div class="meter">
                        <span style="width: 25%"></span>
                    </div>
                    <div class="meter-count">
                        <p class="beschikbaarheid">
                            1/3 expertises
                        </p>
                    </div>
                </div>

                <p class="description">Morbi vulputate dolor diam, nec consequat urna rutrum ut. Sed imperdiet eros quis neque consectetur rhoncus. Nullam ultrices.</p>

                <section class="expertise">
                    <h3 class="sub-head">MIJN EXPERTISE</h3>
                    <section class="labels">
                        <label>Natuur beheerder</label>
                    </section>
                    <p class="beschikbaarheid">
                        15-02-2016 t/m 30-04-2016 15 uur per week
                    </p>
                </section>

                <section class="interest">
                    <h3 class="sub-head">INTERESSANT</h3>
                    <div class="toggle">
                        <button></button>
                    </div>
                </section>
            </section>

            <section class="image">
                <div class="avatar">
                </div>
                <div class="banner">
                </div>
            </section>
        </section><section class="my-project">

            <section class="content">
                <h4>De groene tuin</h4>
                <p class="name">Arnout Boomstra</p>
                <div class="meter-canvas">
                    <div class="meter">
                        <span style="width: 25%"></span>
                    </div>
                    <div class="meter-count">
                        <p class="beschikbaarheid">
                            1/3 expertises
                        </p>
                    </div>
                </div>

                <p class="description">Morbi vulputate dolor diam, nec consequat urna rutrum ut. Sed imperdiet eros quis neque consectetur rhoncus. Nullam ultrices.</p>

                <section class="expertise">
                    <h3 class="sub-head">MIJN EXPERTISE</h3>
                    <section class="labels">
                        <label>Natuur beheerder</label>
                    </section>
                    <p class="beschikbaarheid">
                        15-02-2016 t/m 30-04-2016 15 uur per week
                    </p>
                </section>

                <section class="interest">
                    <h3 class="sub-head">INTERESSANT</h3>
                    <div class="toggle">
                        <button></button>
                    </div>
                </section>
            </section>

            <section class="image">
                <div class="avatar">
                </div>
                <div class="banner">
                </div>
            </section>
        </section><section class="my-project">

            <section class="content">
                <h4>De groene tuin</h4>
                <p class="name">Arnout Boomstra</p>
                <div class="meter-canvas">
                    <div class="meter">
                        <span style="width: 25%"></span>
                    </div>
                    <div class="meter-count">
                        <p class="beschikbaarheid">
                            1/3 expertises
                        </p>
                    </div>
                </div>

                <p class="description">Morbi vulputate dolor diam, nec consequat urna rutrum ut. Sed imperdiet eros quis neque consectetur rhoncus. Nullam ultrices.</p>

                <section class="expertise">
                    <h3 class="sub-head">MIJN EXPERTISE</h3>
                    <section class="labels">
                        <label>Natuur beheerder</label>
                    </section>
                    <p class="beschikbaarheid">
                        15-02-2016 t/m 30-04-2016 15 uur per week
                    </p>
                </section>

                <section class="interest">
                    <h3 class="sub-head">INTERESSANT</h3>
                    <div class="toggle">
                        <button></button>
                    </div>
                </section>
            </section>

            <section class="image">
                <div class="avatar">
                </div>
                <div class="banner">
                </div>
            </section>
        </section>
    </section>

    <aside id='page-sidebar' >
        <header><h3>Acties</h3></header>
    </aside>
</section>
