<section id='template-default'>

	<header id="main">
		<section class='pagewrap'>
			<h1 id="logo"><a href="">Xtalus</a></h1>
			<nav class='left'>
				<ul>
					<li class='menu-item'><a href="#" >Interessante projecten</a></li>
					<li class='menu-item'>Mijn projecten</li>
					<li class='menu-item active' >Mijn profiel</li>
				</ul>
			</nav>
			<nav class='right'>
				<ul>
					<li class='menu-item'>Uitloggen</li>
				</ul>
			</nav>
		</section>
	</header>

	<section id="page-container" class="pagewrap panel">
		{{yield}}
	</section>
</section>
