<section id='template-login'>

	<header id="main">
		<section class='pagewrap'>
			<h1>Xtalus</h1>
			<h2>Together the perfect 'match-maker' for finding and growing talent.</h2>
		</section>
	</header>

	{{yield}}

</section>
