<section id="registration-complete" class='panel'>

  <section>
    <h3>Bedankt voor uw registratie!</h3>

    <p>Uw account is aangevraagd en wordt momenteel door een van onze medewerkers geverifieerd. Hiermee kunnen we de kwaliteit op Xtalus garanderen.</p>
    <p>Binnen enkele werkdagen is uw account geverifieerd en kunt u inloggen met uw e-mailadres en wachtwoord. U ontvangt per e-mail een bericht zodra dit is voltooid.</p>
    <p>Voor vragen kunt u contact opnemen met: <a href="mailto:info@xtalus.nl">info@xtalus.nl</a>.</p>

    <footer>
      {{#link-to 'login' }}Ga naar Inloggen{{/link-to}}
    </footer>


  </section>

</section>

