
{{#if isPassion }}

<section id='passion'>
    <i id="edit-btn" {{action 'editSection' 'user-info'}} class="fa fa-cog"></i>
    <h3>{{data.description}}</h3>
    <p>{{data.textValue}}</p>
</section>

{{/if}}

{{log data}}
