
@import 'compass';

@import "core/mixins/centerElement";

$susy: (
    global-box-sizing: border-box,
);

@import url(https://fonts.googleapis.com/css?family=Bitter:700);

@font-face {
	font-family: 'GothamRounded';
	src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Book.otf')  format('opentype'),
		url('../fonts/GothamRounded-Book.woff') format('woff'), url('../fonts/GothamRounded-Book.ttf')  format('truetype'), url('../fonts/GothamRounded-Book.svg#../fonts/GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GothamRounded';
	src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/GothamRounded-Bold.otf')  format('opentype'),
		url('../fonts/GothamRounded-Bold.woff') format('woff'), url('../fonts/GothamRounded-Bold.ttf')  format('truetype'), url('../fonts/GothamRounded-Bold.svg#../fonts/GothamRounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

$font1: 'GothamRounded', sans-serif;
$font2: 'Bitter', serif;
$font3: $font1;
$font4: $font1;

$color1: #ec2761;
$color2: #3f51b5;
$color3: #ffc200;
$color4: #ffe17b;

$gray1: #263238;
$gray2: #455a64;
$gray3: #78909c;
$gray4: #b0bec5;
$gray5: #eceff1;

//basic setup
$body-color: #eceff1;
$base_font_size: 15px;
$base_text_color: $gray1;
$base_line_height: 165%;
$base_font:$font1;

//basic link
$link_decoration: none;
$link_color: $color1;
$link_hover_color: $color1;

$paragraph_margin_mobile: 10px 0 20px 0;
$paragraph_margin_tablet: 10px 0 20px 0;
$paragraph_margin_desktop: 10px 0 20px 0;

$max-page-width: 1260px;
$screen-size-mobile: 0px;
$screen-size-tablet: 650px;
$screen-size-desktop: 1020px;
$screen-size-bigscreen: 1600px;

//buttons
$button_padding: 15px 20px;
$button_bg_color:$color2;
$button_text_color:#fff;
$button_hover_bg_color:#2f3ba2;
$button_hover_text_color: #fff;
$button_border_radius:2px;

//form
$input_padding: 10px 25px;
$input_border_radius:5px;
$placeholder_color: #999;
$input_text_color: $base_text_color;

//===============================================================================
//  HEADINGS
//-------------------------------------------------------------------------------

//heading 1 settings
//-------------------------------------------------------------------------------
$h1_font: $font2;
$h1_color: $gray1;
$h1_line_height: 100%;
$h1_font_weight: 700;

$h1_margin_desktop: 20px 0;
$h1_margin_tablet: 15px 0;
$h1_margin_mobile: 10px 0;

$h1_font_size_desktop: 48px;
$h1_font_size_tablet: 44px;
$h1_font-size_mobile: 36px;

//heading 2 settings
//-------------------------------------------------------------------------------
$h2_font: $font2;
$h2_color: $gray1;
$h2_line_height: 110%;
$h2_font_weight: 700;

$h2_margin_desktop: 20px 0;
$h2_margin_tablet: 15px 0;
$h2_margin_mobile: 10px 0;

$h2_font_size_desktop: 36px;
$h2_font_size_tablet: 32px;
$h2_font-size_mobile: 28px;

//heading 3 settings
//-------------------------------------------------------------------------------
$h3_font: $font1;
$h3_color: $gray1;
$h3_line_height: 110%;
$h3_font_weight: 600;

$h3_margin_desktop: 5px 0 20px 0;
$h3_margin_tablet: 5px 0 20px 0;
$h3_margin_mobile: 5px 0 20px 0;

$h3_font_size_desktop: 24px;
$h3_font_size_tablet: 22px;
$h3_font-size_mobile: 20px;

header h3{display:inline-block; border-bottom: 2px solid $color3; padding-bottom:8px;}

//heading 4 settings
//-------------------------------------------------------------------------------
$h4_font: $font1;
$h4_color: $gray1;
$h4_line_height: 110%;
$h4_font_weight: bold;

$h4_margin_desktop: 20px 0 0 0;
$h4_margin_tablet: 15px 0 0 0;
$h4_margin_mobile: 10px 0 0 0;

$h4_font_size_desktop: 17px;
$h4_font_size_tablet: 16px;
$h4_font-size_mobile: 15px;

//heading 5 settings
//-------------------------------------------------------------------------------
$h5_font: $font1;
$h5_color: $color1;
$h5_line_height: 110%;
$h5_font_weight: 700;

$h5_margin_desktop: 20px 0 0 0;
$h5_margin_tablet: 15px 0 0 0;
$h5_margin_mobile: 10px 0 0 0;

$h5_font_size_desktop: 16px;
$h5_font_size_tablet: 15px;
$h5_font-size_mobile: 14px;

//heading 6 settings
//-------------------------------------------------------------------------------
$h6_font: $font1;
$h6_color: $color1;
$h6_line_height: 110%;
$h6_font_weight: 700;

$h6_margin_desktop: 20px 0 0 0;
$h6_margin_tablet: 15px 0 0 0;
$h6_margin_mobile: 10px 0 0 0;

$h6_font_size_desktop: 14px;
$h6_font_size_tablet: 13px;
$h6_font-size_mobile: 12px;

//===============================================================================
//predefined classes
//-------------------------------------------------------------------------------

.color-1 {color:$color1 !important;}
.color-2 {color:$color2 !important;}
.color-3 {color:$color3 !important;}
.color-4 {color:$color4 !important;}

.bg-color-1 {background-color:$color1 !important;}
.bg-color-2 {background-color:$color2 !important;}
.bg-color-3 {background-color:$color3 !important;}
.bg-color-4 {background-color:$color4 !important;}

button, .btn, .button, input[type="submit"]{
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	font-size: 15px;
	i{
		margin: 0 0 0 10px;
	}
}

//===============================================================================
// Predefine elements
//-------------------------------------------------------------------------------

@import "core/predefine";


ul{
	list-style: none;
	padding:0;
	li{
		position: relative;
		padding-left:20px;
		margin:0px 0 10px 0;
		&:before{
			content: " ";
			width:8px;
			height: 8px;
			background: $gray4;
			position: absolute;
			left:0;
			margin-top:4px;
		}
		h4{
			margin-top:0;
			margin-bottom: 8px;
		}
	}
}

ul.extended{
	li{
		margin:0px 0 25px 0;
	}
}

.columns{

	@for $i from 2 to 3 {
		$margin: 1.5%;
		$width: (100%-($margin*($i+2)))/$i;


		.cols-#{$i}-small {
			float:left;
			width:$width;
			margin:0 $margin;
	}
}

@include clearfix();
}

@media screen and (min-width: 600px) {

	.columns{
		margin:0 -1.5%;
		@for $i from 2 to 12 {
			$margin: 1.5%;
			$width: (100%-($margin*($i+2)))/$i;

			.cols-#{$i} {
				float:left;
				width:$width;
				margin:0 $margin;
			}
		}
	}
}

.dark-theme {
	h1, h2,h3,h4,h5,h6,p, i{
		color:#fff !important;
	}
	p, .icon{color: #b0bec5 !important;}
}
